/* ----------------------------------------------- */
/* 
/* Styling for GameboardSetup */
/* 
/* ----------------------------------------------- */

.gameBoardSetupContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.setUpTextContainer {
	margin-top: 50px;
	text-align: center;
}

#rotateButtonContainer {
	margin-bottom: 40px;
}

.hoverEffect {
	background-color: black;
}

.hoverEffect:hover {
	background-color: black;
}

.notAllowed:hover {
	cursor: not-allowed;
}

.gameboardSetupContainer #tableRow {
	margin: 0 auto;
	width: 98%;
}
