/* ----------------------------------------------- */
/* 
/* PopUp Styling */
/* 
/* ----------------------------------------------- */

/* Popup */
/* --------------------------------------- */
.popup-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.popup {
	position: fixed;
	padding: 15px 32px;
	background-color: #131a3d;
	top: 50%;
	left: 50%;
	margin-top: -80px;
	/*margin-left: -85px;*/
	margin-left: -90px;
	box-sizing: border-box;
	color: white;
	border-radius: 5px;
	z-index: 2;
	width: 220px;
	border: none;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
}
