/* ----------------------------------------------- */
/* 
/* Styling for the entire app Styling */
/* 
/* ----------------------------------------------- */

/* Bootstrap and Fonts */
/* ----------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap');

/* Reusable Components */
/* ----------------------------------------------- */
@import '../components/reusable/reusable.css';

/* Game Components */
/* ----------------------------------------------- */
@import '../components/Intro/Intro.css';
@import '../components/GameboardSetup/GameboardSetup.css';

html,
body,
#root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #14286c;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}

#root,
body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	margin: 0 auto;
}

.shipPlaced {
	background-color: aquamarine;
}

.shipAttacked {
	background-color: red;
}

.shipMissed {
	background-color: blueviolet;
}

.whiteText {
	color: #f0edff;
}

.redText {
	color: red;
}

.text15 {
	font-size: 1.5rem;
}

.text29 {
	font-size: 2.9rem;
}

.robotoText {
	font-family: 'Roboto Condensed', sans-serif;
}

.antonText {
	font-family: 'Anton', sans-serif;
}

.buttonContainer {
	margin-top: 50px;
}

button {
	width: 70%;
	height: 58px;
}

.btn-primary {
	background-color: #8f8cb8;
	border-color: #8f8cb8;
}

.btn-primary:hover {
	background-color: #7f7baf;
	border-color: #7f7baf;
}

.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
	background-color: #7f7baf;
	border-color: #7f7baf;
}

.btn-primary.disabled,
.btn-primary:disabled {
	background-color: #7f7baf;
	border-color: #7f7baf;
}
